body {
    width: 400px;
    background: #f5f5f5;
    color: #000000;
    border: none;
    letter-spacing: -0.5px
}

input {
    margin-left: auto;
    margin-right: 0;
    padding: none;
    word-break: break-all;
}

input[type=number] {
    width: 5em;
}

h1 {
    text-align: center;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.5px;
    padding-top: 15px;
    padding-bottom: 0px;
    color: #fff;
    font-weight: 700;
}

h2 {
    padding: 10px;
    text-align: left;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.5px;
}

.parentObject {
    background-color: #ddd;
    border-radius: 8px;
    color: #000;
    font-family: "Inter", sans-serif;
    
    margin: 15px 10px 15px 10px;
    
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: #fff; /* Background color of the box */
                border: 1px solid #ccc; /* Border around the box */
                border-left: 6px solid #128579; /* Left margin color and width */
                padding: 15px; /* Padding inside the box */
                border-radius: 6px; /* Rounded corners */
    
    width: 100% - 20px;
    transition-duration: 0.3s;

    display: flex;
    align-items: center;

}

.button {
    border: none;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* Merged styles from view.html */
.header {
    background-color: #674d96;
    text-align: center;
    border: 0;
}

.header h1 {
    color: #000;
    font-family: "Inter", sans-serif;
    margin: 0;
}